<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/resources/socketio.js"></script>
    <style>
        body,
        html {
            padding: 5px;
        }

        .btn:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .btn {
            color: #fff !important;
            background-color: #2196F3 !important;
            border: none;
            display: inline-block;
            padding: 8px 16px;
            vertical-align: middle;
            overflow: hidden;
            text-decoration: none;
            color: inherit;
            background-color: inherit;
            text-align: center;
            cursor: pointer;
            white-space: nowrap;
        }

        .btn:disabled {
            border: 1px solid #999999;
            background-color: #cccccc !important;
            color: #666666 !important;
        }
    </style>
</head>

<body>


    <input type="button" class="btn" id="join" value="Join">
    <input type="button" class="btn" id="leave" style="display: none;" value="Leave">
    <input type="button" class="btn" id="roll" style="display: none;" value="Roll">
    <input type="button" class="btn" id="play" style="display: none;" style="display: '';" value="Start">
    <input type="button" class="btn" id="restart" style="display: none;" value="Play Again">
    <h3 id="status"></h3>


    <h4 id="turn"></h4>
    <image src="/resources/rolling.svg" id="rolling" style="display: none;" height="90" />
    <image src="/resources/1.svg" id="die1" style="display: none;" width="90" height="90" />
    <image src="/resources/1.svg" id="die1-1" style="display: none;" width="90" height="90" />
    <image src="/resources/2.svg" id="die2" style="display: none;" width="90" height="90" />
    <image src="/resources/2.svg" id="die2-1" style="display: none;" width="90" height="90" />
    <image src="/resources/3.svg" id="die3" style="display: none;" width="90" height="90" />
    <image src="/resources/3.svg" id="die3-1" style="display: none;" width="90" height="90" />
    <image src="/resources/4.svg" id="die4" style="display: none;" width="90" height="90" />
    <image src="/resources/4.svg" id="die4-1" style="display: none;" width="90" height="90" />
    <image src="/resources/5.svg" id="die5" style="display: none;" width="90" height="90" />
    <image src="/resources/5.svg" id="die5-1" style="display: none;" width="90" height="90" />
    <image src="/resources/6.svg" id="die6" style="display: none;" width="90" height="90" />
    <image src="/resources/6.svg" id="die6-1" style="display: none;" width="90" height="90" />
    <h5 id="diestatus"></h5>

    <h1 id="winner"></h1>
    <p id="round"></p>
    <p id="pscore" style="display: none;">Scores:
        <ul id="score">

        </ul>
    </p>
    <p>Connected Users:
        <ul id="cUsers">

        </ul>
    </p>

    <script>
        function rollImage() {
            let rot = 0;
            let flip = false;
            setInterval((_) => {
                if (!flip) {
                    rot += 10
                } else {
                    rot -= 10
                }

                if (rot == 30) {
                    flip = true;
                } else if (rot == 0) {
                    flip = false;
                }
                document.getElementById("rolling").style.transform = `rotate(${rot}deg)`;
            }, 100)
        }
        rollImage();


        // Remove from an array by value
        Array.prototype.remove = function () {
            var what, a = arguments,
                L = a.length,
                ax;
            while (L && this.length) {
                what = a[--L];
                while ((ax = this.indexOf(what)) !== -1) {
                    this.splice(ax, 1);
                }
            }
            return this;
        };

        let rollEnabled = true;

        let host = window.location.host;
        let code = window.location.pathname.replace("/", "");
        let protocol = window.location.protocol;

        socket = io.connect(`${protocol}//${host}`);

        // When the backend sends the start command
        socket.on("start", (data) => {
            // If the game is the current room's code
            if (data["code"] == code) {

                // Set buttons and text
                document.getElementById("roll").style.display = "";
                document.getElementById("roll").setAttribute("func", "double");
                document.getElementById("leave").style.display = "";
                document.getElementById("play").style.display = "none";
                document.getElementById("join").style.display = "none";
                document.getElementById("restart").style.display = "none";
                document.getElementById("pscore").style.display = "";
                document.getElementById("score").innerHTML = "";
                document.getElementById("winner").innerHTML = "";
                document.getElementById("status").innerHTML = "";
                document.getElementById("round").innerHTML = "";
                rollEnabled = true;

                // If it's the users turn, enable the button, else disable it
                if (data["data"]["misc"]["turn"] != getCookie("token")) {
                    document.getElementById("roll").disabled = true;
                } else {
                    document.getElementById("roll").disabled = false;
                }
            }

        });

        // If a user leaves or joins
        socket.on("userUpdateEvent", (data) => {
            // If the game is the current room's code
            if (data["code"] == code) {
                let keys = Object.keys(data["data"]);

                document.getElementById("score").innerHTML = "";
                document.getElementById("status").innerHTML = "";
                document.getElementById("cUsers").innerHTML = "";

                keys.remove("misc");

                // Set the current connected users list to the current users in the game
                for (let i = 0; i < keys.length; i++) {
                    document.getElementById("cUsers").innerHTML += `<li>${data["data"][keys[i]]["name"]}</li>`;
                }

                // If there are two users in the game
                if (keys.length == 2) {
                    document.getElementById("roll").style.display = "none";
                    document.getElementById("play").style.display = "";
                    document.getElementById("leave").style.display = "";
                    document.getElementById("restart").style.display = "none";
                    document.getElementById("pscore").style.display = "none";
                    document.getElementById("join").style.display = "none";
                    document.getElementById("score").innerHTML = "";
                    document.getElementById("winner").innerHTML = "";
                    document.getElementById("status").innerHTML = "";
                    document.getElementById("round").innerHTML = "";
                } else {
                    document.getElementById("roll").style.display = "none";
                    document.getElementById("leave").style.display = "";
                    document.getElementById("play").style.display = "none";
                    document.getElementById("join").style.display = "none";
                    document.getElementById("restart").style.display = "none";
                    document.getElementById("pscore").style.display = "none";
                    document.getElementById("score").innerHTML = "";
                    document.getElementById("winner").innerHTML = "";
                    document.getElementById("status").innerHTML = "";
                    document.getElementById("round").innerHTML = "";

                    if (!(getCookie("token") in data["data"])) {
                        document.getElementById("leave").style.display = "none";
                        document.getElementById("join").style.display = "";
                    }
                }
            }

        })

        // If the user has rolled a double
        socket.on("rollDouble", (data) => {
            if (data["code"] == code) {
                console.log(data)
                document.getElementById("round").textContent = `Current Round: ${Math.floor(data["data"]["misc"]["round"] / 2)}`;
                document.getElementById("status").innerHTML = `${data["data"][data["roller"]]["name"]} rolled a double! ${data["data"][data["roller"]]["name"]} roll again!`;
                document.getElementById("roll").style.display = "";
                document.getElementById("roll").disabled = false;
                document.getElementById("roll").setAttribute("func", "single"); // For use when emmiting to say whether to roll a single or double

                document.getElementById("diestatus").style.display = "none";
                document.getElementById("diestatus").textContent = "";
                document.getElementById("rolling").style.display = "none";

                document.getElementById("turn").textContent = `${data["data"][data["roller"]]["name"]} rolled:`;

                for (let i = 1; i <= 6; i++) {
                    document.getElementById("die" + i).style.display = "none";
                    document.getElementById("die" + i + "-1").style.display = "none";
                }

                for (let i = 0; i < data["roll"]["rolls"].length; i++) {
                    document.getElementById("die" + data["roll"]["rolls"][i]).style.display = "";
                    document.getElementById("die" + data["roll"]["rolls"][i] + "-1").style.display = "";
                }

                if (data["roll"]["roll"] % 2 == 0) {
                    document.getElementById("diestatus").style.display = "";
                    document.getElementById("diestatus").textContent = `${data["data"][data["roller"]]["name"]} got + 10`;
                } else {
                    document.getElementById("diestatus").style.display = "";
                    document.getElementById("diestatus").textContent = `${data["data"][data["roller"]]["name"]} got - 10`;
                }

                if (data["roller"] != getCookie("token")) {
                    document.getElementById("roll").disabled = true;
                } else {
                    document.getElementById("roll").disabled = false;
                }
            }
        });

        // When a user rolls
        socket.on("roll", (data) => {
            // If the game is the current room's code
            console.log(data)
            if (data["code"] == code) {
                let turn = data["turn"];
                let roller = data["roller"];
                let roll = data["roll"];
                data = data["data"];
                document.getElementById("round").textContent = `Current Round: ${Math.floor(data["misc"]["round"] / 2)}`; // This is so each player has to roll for it to count as a round
                document.getElementById("roll").setAttribute("func", "double"); // For use when emmiting to say whether to roll a single or double
                document.getElementById("diestatus").style.display = "none";
                document.getElementById("diestatus").textContent = "";
                document.getElementById("rolling").style.display = "none";

                document.getElementById("turn").textContent = `${data[roller]["name"]} rolled:`;

                for (let i = 1; i <= 6; i++) {
                    document.getElementById("die" + i).style.display = "none";
                    document.getElementById("die" + i + "-1").style.display = "none";
                }

                for (let i = 0; i < roll["rolls"].length; i++) {
                    document.getElementById("die" + roll["rolls"][i]).style.display = "";
                }

                if (roll["roll"] % 2 == 0) {
                    document.getElementById("diestatus").style.display = "";
                    document.getElementById("diestatus").textContent = `${data[roller]["name"]} got + 10`;
                } else {
                    document.getElementById("diestatus").style.display = "";
                    document.getElementById("diestatus").textContent = `${data[roller]["name"]} got - 10`;
                }

                let keys = Object.keys(data);

                keys.remove("misc");

                document.getElementById("score").innerHTML = "";
                document.getElementById("score").style.display = "";
                document.getElementById("status").innerHTML = "";

                // Set the scores list to each users name and points
                for (let i = 0; i < keys.length; i++) {
                    document.getElementById("score").innerHTML += `<li>${data[keys[i]]["name"]}: ${data[keys[i]]["points"]}</li>`;
                }

                // If it's the users turn, enable the button, else disable it
                if (turn != getCookie("token")) {
                    document.getElementById("roll").disabled = true;
                } else {
                    document.getElementById("roll").disabled = false;
                }

            }

        });


        // When the game has fully ended and the scores are not the same
        socket.on("end", (data) => {
            // If the game is the current room's code
            if (data["code"] == code) {
                winner = data["winner"];
                data = data["data"];
                document.getElementById("round").textContent = `Current Round: ${Math.floor(data["misc"]["round"] / 2)}`; // This is so each player has to roll for it to count as a round
                let keys = Object.keys(data);
                keys.remove("misc");

                document.getElementById("score").textContent = JSON.stringify(keys)
                document.getElementById("score").innerHTML = "";

                document.getElementById("rolling").style.display = "none";
                document.getElementById("diestatus").style.display = "none";
                document.getElementById("turn").style.display = "none";

                for (let i = 1; i <= 6; i++) {
                    document.getElementById("die" + i).style.display = "none";
                    document.getElementById("die" + i + "-1").style.display = "none";
                }


                // Set the scores list to each users name and points
                for (let i = 0; i < keys.length; i++) {
                    document.getElementById("score").innerHTML += `<li>${data[keys[i]]["name"]}: ${data[keys[i]]["points"]}</li>`;
                }

                document.getElementById("winner").textContent = `Winner: ${winner}`
                rollEnabled = false;
                document.getElementById("roll").style.display = "none";
                document.getElementById("restart").style.display = "";
            }

        });

        // Request from the backend the current state of the game
        socket.emit("init", {
            "code": code,
            "token": getCookie("token")
        });

        // When the backend returns the state
        socket.on("init", (data) => {
            try {
                let turn = data["turn"];
                data = data["data"];
                round = data["misc"]["round"] || 0;
                let keys = Object.keys(data);

                document.getElementById("roll").style.display = "none";
                document.getElementById("play").style.display = "none";
                document.getElementById("leave").style.display = "none";
                document.getElementById("join").style.display = "";
                document.getElementById("restart").style.display = "none";
                document.getElementById("pscore").style.display = "none";
                document.getElementById("score").style.display = "none";
                document.getElementById("winner").innerHTML = "";
                document.getElementById("status").innerHTML = "";

                document.getElementById("score").innerHTML = "";
                document.getElementById("status").innerHTML = "";

                document.getElementById("cUsers").innerHTML = "";

                keys.remove("misc");

                // Set the current connected users list to the current users in the game
                for (let i = 0; i < keys.length; i++) {
                    document.getElementById("cUsers").innerHTML += `<li>${data[keys[i]]["name"]}</li>`;
                }
                // Set the scores list to each users name and points
                for (let i = 0; i < keys.length; i++) {
                    document.getElementById("score").innerHTML += `<li>${data[keys[i]]["name"]}: ${data[keys[i]]["points"]}</li>`;
                }

                // If there are two players and the user is in the game, allow them to use it
                if (keys.length == 2 && getCookie("token") in data) {
                    document.getElementById("round").textContent = `Current Round: ${Math.floor(round / 2)}`; // This is so each player has to roll for it to count as a round
                    document.getElementById("roll").style.display = "";
                    document.getElementById("play").style.display = "none";
                    document.getElementById("leave").style.display = "";
                    document.getElementById("join").style.display = "none";
                    document.getElementById("restart").style.display = "none";
                    document.getElementById("pscore").style.display = "";
                    document.getElementById("score").style.display = "";
                } else if (getCookie("token") in data) {
                    // Show them the buttons to leave
                    document.getElementById("roll").style.display = "none";
                    document.getElementById("leave").style.display = "";
                    document.getElementById("play").style.display = "none";
                    document.getElementById("join").style.display = "none";
                    document.getElementById("restart").style.display = "none";
                    document.getElementById("pscore").style.display = "none";
                    document.getElementById("score").style.display = "none";
                }

                // If it's the users turn, enable the button, else disable it
                if (turn != getCookie("token")) {
                    document.getElementById("roll").disabled = true;
                } else {
                    document.getElementById("roll").disabled = false;
                }
            } catch (e) {
                console.log(e)
            }
        });

        // If the round has reached the end but the scores are the same
        socket.on("endAgain", (data) => {
            // If the game is the current room's code
            if (data["code"] == code) {
                document.getElementById("status").innerHTML = "You have both ended up with the same score! Keep rolling till one of you wins!";
                document.getElementById("roll").setAttribute("func", "single"); // For use when emmiting to say whether to roll a single or double
                let turn = data["turn"];
                data = data["data"];
                document.getElementById("round").textContent = `Current Round: ${Math.floor(data["misc"]["round"] / 2)}`; // This is so each player has to roll for it to count as a round
                let keys = Object.keys(data);

                keys.remove("misc");

                document.getElementById("score").innerHTML = "";

                
                document.getElementById("rolling").style.display = "none";
                document.getElementById("diestatus").style.display = "none";
                document.getElementById("turn").style.display = "none";

                for (let i = 1; i <= 6; i++) {
                    document.getElementById("die" + i).style.display = "none";
                    document.getElementById("die" + i + "-1").style.display = "none";
                }

                document.getElementById("turn").textContent = `${data[roller]["name"]} rolled:`;

                for (let i = 1; i <= 6; i++) {
                    document.getElementById("die" + i).style.display = "none";
                    document.getElementById("die" + i + "-1").style.display = "none";
                }

                for (let i = 0; i < roll["rolls"].length; i++) {
                    document.getElementById("die" + roll["rolls"][i]).style.display = "";
                }

                if (roll["roll"] % 2 == 0) {
                    document.getElementById("diestatus").style.display = "";
                    document.getElementById("diestatus").textContent = `${data[roller]["name"]} got + 10`;
                } else {
                    document.getElementById("diestatus").style.display = "";
                    document.getElementById("diestatus").textContent = `${data[roller]["name"]} got - 10`;
                }


                // Set the scores list to each users name and points
                for (let i = 0; i < keys.length; i++) {
                    document.getElementById("score").innerHTML += `<li>${data[keys[i]]["name"]}: ${data[keys[i]]["points"]}</li>`;
                }

                // If it's the users turn, enable the button, else disable it
                if (turn != getCookie("token")) {
                    document.getElementById("roll").disabled = true;
                } else {
                    document.getElementById("roll").disabled = false;
                }
            }
        });

        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toGMTString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        document.getElementById("roll").addEventListener("click", (e) => {
            if (rollEnabled) {
                document.getElementById("rolling").style.display = "";
                let func = document.getElementById("roll").getAttribute("func");
                socket.emit("roll", {
                    "code": code,
                    "token": getCookie("token"),
                    "func": func
                })
            }
        });
        document.getElementById("play").addEventListener("click", (e) => {
            socket.emit("start", {
                "reset": 0,
                "code": code,
                "token": getCookie("token")
            })
        });
        document.getElementById("restart").addEventListener("click", (e) => {
            socket.emit("start", {
                "reset": 1,
                "code": code,
                "token": getCookie("token")
            })
        });
        document.getElementById("join").addEventListener("click", (e) => {
            socket.emit("userUpdateEvent", {
                "type": "join",
                "code": code,
                "token": getCookie("token")
            })
        });
        document.getElementById("leave").addEventListener("click", (e) => {
            socket.emit("userUpdateEvent", {
                "type": "leave",
                "code": code,
                "token": getCookie("token")
            })
        });
    </script>

</body>

</html>